// リセットCSS
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
  margin: 0;
  padding: 0;
  color: #141414;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

// 共通設定

.copy-check {
  opacity: 0.1;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;

  h1 {
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 120px;
  }
}

.section-title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 70px;
  letter-spacing: 0.5px;
}

.topic {
  font-family: 'Noto sans CJK JP', sans-serif;
  font-size: 24px;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

.topic-text {
  font-family: 'Noto sans CJK JP', sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.container {
  max-width: 345px;
  margin: 0 auto;
}

section {
  padding-top: 100px;
  padding-bottom: 50px;
}

@media (min-width: 854px) {
  .container {
    max-width: 1030px;
  }
}

// header

header {
  background-color: #1b1310;
  width: 100%;
  height: 75px;

  .container {
    display: flex;
    justify-content: space-between;

    .header-title {
      color: white;
      font-family: Roboto;
      font-size: 26px;
      line-height: 75px;
    }

    .nav-bar {
      display: none;
    }

    .hamburger-icon {
      box-sizing: content-box;
      padding: 0;
      outline: none;
      border: none;
      background: none;
      width: 24px;
      height: 14px;
      cursor: pointer;
      color: white;
      position: relative;
      top: 35px;
    }

    .hamburger-icon::before,
    .hamburger-icon::after {
      content: '';
      display: block;
      height: 2px;
      background-color: currentColor;
      transform: translateY(5px);
    }

    .hamburger-icon::before {
      transform: translateY(-5px);
      box-shadow: 0 6px currentColor;
    }

  }

}

@media (min-width: 445px) {
  header {

    .container {
      max-width: 1219px;

      .nav-bar {
        display: block;

        .nav-menu {
          display: flex;
  
          a {
            color: white;
            line-height: 74px;
            margin-left: 24px;
            margin-right: 10px;
          }
        }
      }

      .hamburger-icon {
        display: none;
      }
    }
  }
}

@media (min-width: 852px) {
  header {

    .container {

      .nav-bar {

        .nav-menu {

          a{
            margin-left: 45px;
          }
        }
      }
    }
  }
}

// pagetopボタン

.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;

    a {
        display: block;
        background-color: #bbb;
        text-align: center;
        color: #222;
        font-size: 22px;
        text-decoration: none;
        padding: 10px 16px;
        opacity: 0.7;
    }

}

// hamburger-menu

.hamburger-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: #1b1310;
  // opacity: 0.8;

  .close-btn {
    display: inline-block;
    font-size: 36px;
    color: white;
    transform: rotate(45deg);
    position: relative;
    left: 91%;
    cursor: pointer;
    margin-top: 10px;
  }

  ul {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-top: 50%;

    li {
      margin-bottom: 43px;

      a {
        color: white;
      }
    }
  }
}

// main-visual

.main-visual {
  height: 590px;
  background-image: url(../img/fv-bgi-1.png);
  background-size: cover;
  background-position: center;

  .container {

    .main-title {
      font-family: Roboto;
      font-weight: normal;
      font-size: 30px;
      text-align: center;
      color: white;
      border: 2px solid white;
      width: 300px;
      height: 100px;
      line-height: 100px;
      position: relative;
      top: 245px;
      margin: 0 auto;
    }

  }

}

@media (min-width: 852px) {
  .main-visual {
    background-image: url(../img/fv-bgi.png);
    background-position: center;
    height: 740px;

    .container {

      .main-title {
        font-size: 50px;
        width: 449px;
        height: 136px;
        line-height: 136px;
        top: 302px;
      }
    }
  }
}

// about

// service

.service-wrapper {

  .container {

    .service-contents {
      margin-bottom: 50px;

      .description {
        margin-bottom: 40px;

      }

      img {
        display: block;
        width: 345px;
        height: 150px;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 852px) {
  .service-wrapper {

    .container {

      .service-contents {
        display: flex;
        justify-content: space-between;

        .description {
          width: 480px;
        }

        img {
          width: 480px;
          height: 240px;
          margin: 0;
        }

      }

      .service-contents:nth-child(even) {
        flex-flow: row-reverse;
      }
    }
  }
}

// news

.news-wrapper {

  .container {

    .news-contents {

      .news-card {
        width: 320px;
        margin: 0 auto 50px;
        border: 1px solid #707070;

        img {
          width: 100%;
        }

        .card-description {
          font-family: 'Noto sans';
          font-size: 13px;
          line-height: 25px;
          padding: 25px 33px;

        }
      }
    }
  }
}

@media (min-width: 852px) {
  .news-wrapper {
    padding-bottom: 0;
    
    .container {

      .news-contents {

        display: flex;
      }
    }
  }
}

// contact

.contact-wrapper {

  .container {
    max-width: 444px;

    .section-title {
      font-family: 'Noto sans CJK JP', sans-serif;
      font-size: 24px;
      font-weight: bold;
      line-height: 48px;
      letter-spacing: 1px;
      padding-bottom: 87px;
    }

    form {
      font-family: 'Noto sans';
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.5px;

      input {
        width: 100%;
        margin-bottom: 22px;
        height: 30px;
      }

      .large-input {
        resize: none;
        width: 100%;
        height: 171px;
      }

      .submit-btn {
        display: block;
        background-color: #1b1310;
        color: white;
        font-family: 'Noto sans';
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        height: 59px;
        width: 235px;
        margin: 50px auto;
        border-radius: 30px;
      }

      .submit-btn:hover {
        opacity: 0.9;
      }
    }
  }
}

@media (min-width: 852px) {
  .contact-wrapper {

    .container {
      max-width: 700px;
    }
  }
}

// footer

footer {
  background: #1B1310;
  height: 60px;
  color: white;
  text-align: center;
  line-height: 60px;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.5px;
}